.button {
  @include rounded;
  padding: 5px + $radius;
}

body {
  font: 100% $font-stack;
  background-color: $background-color;
}

$primary-color: blue;

h1 {
  $primary-color: green !global;
  color: $primary-color;
  font-size: $ukuranJudul;
}

p {
  color: $primary-color;
  font-size: $ukuranParagraf;
}

@function ubah-button-bootstrap($map, $key) {
  @return map-get($map, $key);
}

@function ubah-ukuranfont-bootstrap($map, $key) {
  @return map-get($map, $key);
}

@function ubah-huruf($map, $key) {
  @return map-get($map, $key);
}

.btn-secondary {
  background-color: ubah-button-bootstrap($warna, "secondary") !important;
}

.heading {
  font-size: ubah-ukuranfont-bootstrap($ukuran, "small") !important;
}

.heading {
  font-family: ubah-huruf($jenis-font, "font1") !important;
}

.category:hover {
  background-color: ubah-button-bootstrap($warna, "secondary") !important;
}

h2,
h3 {
  color: ubah-button-bootstrap($warna, "secondary") !important;
}

.btn-primary {
  background-color: ubah-button-bootstrap($warna, "secondary") !important;
}

.warna-a,
.fig {
  color: ubah-button-bootstrap($warna, "secondary") !important;
}

.uil {
  color: ubah-button-bootstrap($warna, "secondary") !important;
}

.site-nav {
  background-color: black;
  padding: 50px;
  color: white;

  h1 {
    font-size: 36px;
  }
}

@mixin card-bg {
  // padding: 5px;
  border: 3px solid #1aacac;
}

.feature,
.custom-media,
.uil {
  @include card-bg;
  color: #654642;

  h1 {
    font-size: 20px;
  }
}

@mixin text-size($scale) {
  font-size: $base-font-size * $scale !important;
}

body {
  @include text-size(1);
}

h1 {
  @include text-size(3);
  font-weight: bold;
  color: cobalt;
}

h2 {
  @include text-size(2.5);
  color: grey;
}

h3 {
  @include text-size(2);
}

.alert {
  padding-left: 4px;
  background-color: #218afa;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  border: 1px solid black;
}

.alert-message {
  @extend .alert;

  color: white !important;
}

.alert-message2 {
  @extend .alert;

  color: black !important;
}

.alert1 {
  padding: 5px;
  background-color: #419197;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  border: 2px solid white;
}

.alert-info {
  @extend .alert1;

  color: white !important;
}

.alert-info1 {
  @extend .alert1;
  text-align: center;
  color: white !important;
}

@mixin base-button($bg-color) {
  font-family: "Fakt Soft Pro";
  font-size: 12px;
  border: 1px solid white !important;
  border-radius: 10px;
  padding: 10px 16px;
  color: white;
  background-color: $bg-color;
}

.btn-primary1 {
  @include base-button(blue);
}

.btn-secondary {
  @include base-button(#219c90);
}
