$warna-text: #1aacac;
$warna-text1: white;
$warna: (
  "primary": #6499e9,
  "secondary": #088395,
);

$ukuran: (
  "small": 39px,
  "medium": 12px,
);

$jenis-font: (
  "font1": "Noto Sans JP",
  "font2": "Mooli",
);

$primary: #136ad5;
$secondary: #00aeff;
$black: #000000;
$white: #ffffff;
$grey: #5b5656;
$heading_color: #dddde6;
$text_light_color: #333;
$bg_color: #37373f;
$font-family: "Display Playfair", serif;
$font-family-sans-serif: "Inter", sans-serif;

$font-stack: Helvetica, sans-serif;
$background-color: rgb(230, 231, 233);
